@model komyuter.core.DomainClasses.SMSIncoming

@{
    ViewBag.Title = "SMS Incoming Detail";
    Layout = "~/Views/Shared/_LayoutSpark.cshtml";
}


<div class="wrapper">

    @Html.Partial("_SparkSideBarPartial")

    <div class="main">

        @Html.Partial("_SparkNavBarPartial")

        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        SMS Incoming
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Edit Record</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <button id="createnew" class="btn btn-pill btn-secondary" value="SMSIncoming">Back to SMS Incoming List</button>
                            </div>

                            <div class="card-body">

                                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "validation-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(model => model.sms_id)
                                    <div class="row">

                                        <div class="col-12 col-lg-8">

                                            <form>
                                                @*<div class="form-group row">
                                                    <label class="col-form-label col-sm-2 text-sm-right">Message</label>
                                                    <label class="col-form-label col-sm-10 text-sm-left">
                                                        <pre id="output">@Html.DisplayFor(model => model.message)</pre>
                                                    </label>
                                                </div>*@
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-2 text-sm-right">Message</label>
                                                    <label class="col-form-label col-sm-10 text-sm-left">
                                                        @Html.DisplayFor(model => model.message)
                                                    </label>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-2 text-sm-right">Receive Date</label>
                                                    <label class="col-form-label col-sm-10 text-sm-left">
                                                        @Html.DisplayFor(model => model.receive_date)
                                                    </label>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-2 text-sm-right">Process Date</label>
                                                    <label class="col-form-label col-sm-10 text-sm-left">
                                                        @Html.DisplayFor(model => model.process_date)
                                                    </label>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-sm-2 text-sm-right">Processs Remarks</label>
                                                    <label class="col-form-label col-sm-10 text-sm-left">
                                                        @Html.DisplayFor(model => model.process_remarks)
                                                    </label>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-10 ml-sm-auto">
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>

                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>



        @Html.Partial("_SparkFooterPartial")

    </div>

</div>
